#!/usr/bin/env python
# -*- coding: utf-8 -*-

PACKAGE = 'docking'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
grp_common = gen.add_group("common", type="tab")
grp_icp = gen.add_group("ICP_Marker", type="tab")
grp_bar = gen.add_group("Bar_Marker", type="tab")
grp_leg = gen.add_group("Leg_Marker", type="tab")
grp_common.add("dock_filepath",    str_t,    0, "Filepath of dock target pointcloud",  "")
grp_common.add("world_frame",    str_t,    0, "Name of world frame",  "world")
grp_common.add("robot_frame",    str_t,    0, "Name of robot frame",  "base_link")
grp_common.add("cloud_frame",    str_t,    0, "Name of cloud frame",  "cloud")
grp_common.add("cloud_topic",    str_t,    0, "Name of cloud frame",  "cloud")
grp_common.add("laser_frame",    str_t,    0, "Name of laser frame",  "base_laser_link")
grp_common.add("laser_topic",    str_t,    0, "Name of laser topic",  "scan")

grp_common.add("RS_max_iter",    int_t,    0, "Số vòng lặp tính toán", 250,  0, 10000)
grp_common.add("RS_min_inliers",    int_t,    0, "Số điểm tối thiểu để coi là 1 đoạn thẳng", 3,  0, 50)
grp_common.add("RS_dist_thresh", double_t, 0, "Khoảng cách giữa các điểm theo chiều vuông góc với đoạn thẳng nhỏ hơn param này thì coi là đoạn thẳng (noise)", .02, 0,   1)
grp_common.add("RANSAC_on_clusters",   bool_t,   0, "Perform RANSAC after Clustering Points",  True)
grp_common.add("Voxel_leaf_size", double_t, 0, "Leaf Size for Voxel Grid", .001, 0,   1)

grp_common.add("EC_cluster_tolerance", double_t, 0, "Khoảng cách tối đa giữa các điểm có thể coi là 1 cụm (m)", 0.08, 0,   0.5)
grp_common.add("EC_min_size",    int_t,    0, "Số lượng điểm tối thiểu trong 1 cụm", 10,  0, 20)
grp_common.add("EC_max_size",    int_t,    0, "Số lượng điểm tối đa trong 1 cụm", 250,  0, 1000)

detect_type = gen.enum([    gen.const("Other_marker", int_t, 0, "Detect other marker"),
                            gen.const("Bar_marker", int_t, 1, "Detect Bar marker"),
                            gen.const("Leg_marker", int_t, 2, "Detect Leg marker")], "An enum to set detect type")
grp_common.add("detect_type", int_t, 0, "Detect marker type", 0, 0, 2, edit_method=detect_type)

grp_icp.add("ICP_min_score", double_t, 0, "ICP Fitness Score Threshold", .001, 0,   0.2)
grp_icp.add("ICP_max_corres_dist", double_t, 0, "The maximum distance threshold between two correspondent points", 0.1, 0.001, 1)
grp_icp.add("ICP_max_iter", int_t, 0, "Max iterations", 100,  1, 1000)
grp_icp.add("ICP_max_transl_eps", double_t, 0, "Max transformation translation epsilon (diff) btwn previous & current estimated ", .000000001, .000000001,   0.001)
grp_icp.add("ICP_max_rot_eps", double_t, 0, "Max transformation rotation epsilon (diff) btwn previous & current estimated ", .000000001, .000000001,   0.001)
grp_icp.add("ICP_max_eucl_fit_eps", double_t, 0, "Max Euclidean squared errors", 1, 0,   2)

grp_bar.add("BAR_length",    double_t,    0, "Bar marker length (m)", 0.2,  0.000, 10.0)
grp_bar.add("BAR_length_tolerance",    double_t,    0, "Bar marker length tolerance (m)", 0.2,  0.000, 1.0)
grp_bar.add("BAR_distance",    double_t,    0, "Bar marker distance (m)", 0.2,  0.000, 10.0)
grp_bar.add("BAR_distance_tolerance",    double_t,    0, "Bar marker distance tolerance (m)", 0.2,  0.000, 1.0)

grp_leg.add("Leg_length",    double_t,    0, "Leg marker length (m)", 0.68,  0.000, 10.0)
grp_leg.add("Leg_distance",    double_t,    0, "Leg marker distance (m)", 0.85,  0.000, 10.0)
grp_leg.add("Leg_offset",    double_t,    0, "Leg marker offset (m)", 0.18,  0.000, 10.0)
grp_leg.add("Leg_tolerance",    double_t,    0, "Leg marker accuracy tolerance (m)", 0.1,  0.000, 1.0)

exit(gen.generate(PACKAGE, "docking", "DetectionNode"))
