<launch>
    <!-- Use this package: http://wiki.ros.org/pointcloud_to_laserscan -->
    <node pkg="pointcloud_to_laserscan" type="laserscan_to_pointcloud_node" name="laserscan_to_pointcloud">
        <remap from="scan_in" to="scan_laser"/>
        <remap from="cloud" to="docking/input_cloud"/>
    </node>

    <node pkg="docking" type="detection_node" name="detection_node" output="screen" respawn="false" clear_params="true">
        <remap from="cloud" to="docking/input_cloud"/>
        <param name="dock_filepath" value="$(find auto_docking)/pcd/rear_vl_marker.pcd"/>
        <param name="laser_frame" value="base_scan"/>
        <param name="robot_frame" value="base_link"/>
    </node>
</launch>